.mailbox-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.mail-box {
  width: 100px;
  height: 100px;
  border: 2px solid white;
  background-color: #535bf2;
  color: white;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  transition: background-color 0.2s;
}

.mail-box:hover {
  background-color: #747bff;
}