body {
  padding: 16px;
  display: flex;
  flex-direction: column;
  background-color: #1a1a1a;   
  color: white;                
  font-family: sans-serif;
  min-height: 100vh;
  margin: 0;
}

#root {
  width: 100%;
  height: 100%;
}


ul {
  padding: 0;
  display: flex;
  list-style: none;
  justify-content: center;
  margin-bottom: 1rem;
}

li {
  margin: 0 16px;
}

a {
  color: #61dafb;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

.mailbox-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.mail-box {
  border: 2px solid white;
  background-color: #535bf2;
  color: white;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  font-weight: bold;
  transition: background-color 0.2s;
}

.mail-box:hover {
  background-color: #747bff;
}


form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label,
button {
  margin: 16px 0px;
  font-weight: bold;
}

input,
select,
textarea {
  padding: 8px;
  width: 200px;
}

button {
  background-color: #535bf2;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background-color: #747bff;
}